html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-family: Verdana,Tahoma,"BitStream vera Sans",Arial,Helvetica,sans-serif;
  font-size: 14px;
}

#map_canvas {
    height: 100%;
}

#panel {
    margin-left: -50px;
    margin-bottom: 30px;
    background-color: #FFFF00;
    border: 1px solid #000000;
    padding: 5px;
}

#geolocation_click {
    background: transparent url(../images/crosshair.png) no-repeat top;
    width: 15px;
    height: 15px;
    color: white;
    border: none;
}