/* START MAIN */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-family: Verdana,Tahoma,"BitStream vera Sans",Arial,Helvetica,sans-serif;
  font-size: 14px;
}

#map_canvas {
    height: 100%;
}

.hidden {
    display: none;
}
/* END */

#panel {
    background-color: #FFFF00;
    border: 1px solid #000000;
    padding: 5px;
    margin-left: 10px;
}

#geolocation_click {
    background: transparent url(../images/crosshair.png) no-repeat top;
    width: 15px;
    height: 15px;
    color: white;
    border: none;
}

/* START vehicle popup */
#vehicle_popup {
    width: 200px;
    border: 1px solid black; 
    background: #FFFFFF; 
    padding: 2px 0px 0px 10px;
}

#vehicle_popup p {
    font-size: 10px;
}

#vehicle_popup p .name {
    font-size: 12px;
}
/* END */
