/* START MAIN */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-family: Georgia, Helvetica;
  font-size: 14px;
}

#map_canvas {
    height: 100%;
}

.hidden {
    display: none;
}
/* END */

/*
    SIMULATION PANEL
*/
#panel {
    position: absolute;
    width: 300px;
    padding: 5px;
    right: 50px;
    top: 50px;
    background-color: #FFF8C6;
    border: 1px solid #717D7D;
}

#panel > div {
    margin: 5px 5px 10px 5px;
    padding: 5px;
    
    background-color: #F0F0F0;
}

#panel p {
    font-size: 20px;
    font-weight: bold;
}

#geolocation_click {
    background: transparent url(../images/crosshair_2.png) no-repeat top;
    width: 20px;
    height: 20px;
    color: white;
    border: none;
}

#user_location {
    width: 200px;
}

input.panel_close {
    background: transparent url(../images/window_close) no-repeat top;
    width: 15px;
    height: 15px;
    border: none;
    
    display: block;
    float: right;
    right: 0px;
    top: 0px;
}

#vehicle_timetable td.station {
    width: 150px;
}
/* END */

/* START vehicle popup */
#vehicle_popup {
    width: 200px;
    border: 1px solid black; 
    background: #FFFFFF; 
    padding: 2px 0px 0px 10px;
}

#vehicle_popup p {
    font-size: 10px;
}

#vehicle_popup p .name {
    font-size: 12px;
}
/* END */